@import "./custom-class.css";
@import "./dark.css";
@import "./wordpress-blocks.css";

@font-face {
    font-family: "Yekan";
    src: url("../assets/fonts/WebYekan.woff");
    src: url("../assets/fonts/WebYekan.woff") format("woff"),
        url("../assets/fonts/WebYekan.ttf") format("truetype");
}

body {
    --wp--preset--font-family--system-font: "Yekan", sans-serif !important;
    --wp--preset--font-family--source-serif-pro: "Yekan", serif !important;
}

/* Color */
body,
body.light {
    --wp--preset--color--foreground: #414141 !important;
    --wp--preset--color--block--background: #ffffff !important; /* Footer section background */
}

html {
    scroll-behavior: smooth;
}

.wp-block-navigation:not(.has-background)
    .wp-block-navigation__responsive-container.is-menu-open {
    color: var(--wp--preset--color--foreground);
    background: var(--wp--preset--color--background) !important;
}
